/*Custom CSS goes here*/

/* Name: Dinesh */
/* Student ID: 300705307 */
/* Date: September 25, 2016 */
/* Default.aspx file */

body { padding-bottom: 70px; background-color: lightblue; background-image: url("img_tree.png"); background-repeat: no-repeat; }



